.login-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://e1.pxfuel.com/desktop-wallpaper/529/365/desktop-wallpaper-62-concert-planetshakers.jpg') no-repeat center center fixed;
  background-size: cover;
  flex-direction: column;
  padding: 20px; 
}

.logo {
  font-size: 75px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.login-form-container {
  background: linear-gradient(to bottom, rgba(30, 58, 138, 0.9), rgba(59, 130, 246, 0.9));
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.login-signup-header {
  text-align: center;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  font-size: 14px;
  margin-bottom: 8px;
  color: #e0e0e0;
}

.input-group input {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  width: 100%;
  background-color: #fff;
  color: #333;
}
.login-btn {
  background-color: #1D4ED8;
  color: #fff;
  padding: 14px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #2563EB;
}

.signup-text {
  text-align: center;
  margin-top: 20px;
}

.signup-text p {
  font-size: 14px;
  color: #e0e0e0;
}

.signup-text span {
  color: #60A5FA;
  cursor: pointer;
  text-decoration: underline;
}

.signup-text span:hover {
  color: #2563EB;
}
